.hidden {
    display: none;
}
.vertical {
    display: block;
}
.reg-btn {
    color: white;
    background-color:#79658F;
    font-size: larger;
    border: none;
}
.mobile-menu {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: fit-content;
}
.reg-menu {
    position: initial;
    bottom: initial;
    right: initial;
    width: fit-content;
}

* {
    background-color: seashell;
    margin: 0px;
}

#hide-effect {
    display: initial;
    visibility:hidden;
    opacity: 0;
    transition: visibility 0s 5s , opacity 5s linear;
}
#show-effect {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 5s , opacity 5s linear;
}
#pic-frame-inner {
    background-color: black;
    border: solid;
    border-color:darkslateblue;
    border-width: 4px;
    height: 400px;
    margin: 46px;
    width: 600px;
}
#pic-frame-outer {
    background-color: white;
    border: solid;
    border-color: lightsteelblue;
    height: 500px;
    margin: auto;
    width: 700px;
}
#slider {
    background-color:black;
    display: flex;
    height: 400px;
    align-content: center;
    justify-content: center;
    justify-items:center;
    position: absolute;
    text-align: center;
}
.slider-btn {
    background-color: transparent;
    border: none;
    color:rosybrown;
    font-size: 48px;
}
#slider-btn-div {
    height: auto;
    left: 150px;
    position: relative;
    top: 20px;
    width: 400px;
}
#slider-btn-left {
    float: left;
}
#slider-btn-right {
    float: right;
}
.hidden {
    display: none;
}
.fade-in {
    /* display: initial; */
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  .fade-out {
    animation: fadeOut ease 3s;
    -webkit-animation: fadeOut ease 3s;
    -moz-animation: fadeOut ease 3s;
    -o-animation: fadeOut ease 3s;
    -ms-animation: fadeOut ease 3s;
  }
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }