.hidden {
    display: none;
}
.vertical {
    display: block;
}
.reg-btn {
    color: #79658F;
    background-color:#79658F;
    font-size: larger;
    border: none;
}
.mobile-menu {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: fit-content;
}
.reg-menu {
    position: initial;
    bottom: initial;
    right: initial;
    width: fit-content;
}